
/* Banner Style */

.banner{
    background-image: url('../images/banner.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 8px;
}