
/* Banner Style */

.banner{
    background-image: url('../images/banner.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 8px;
}

/* Media Queries */

@media screen and (max-width: 576px) {
    .legal{
        grid-template-columns: repeat(1, 1fr);
    }
}